/* GLOBAL */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Main section */
body
{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
    margin: 0px 0px;
    background: #ffffff;
	position: relative;
	color: #333333;
	padding: 0;
}
*, input, :before, :after {
    box-sizing: border-box;
}
a { 
    text-decoration:none; 
    font-family: 'Open Sans', sans-serif;
}
.clear {
    clear: both;
    height: 1px;
}
/* header */
#header-top {
    height: 35px;
    line-height: 35px !important;
    background: #f58f0a;
}
.top-search-wrapper{
	font-size: 13px;
	height: 35px;
}
.top-search{
	display: inline-block;
}
.top-links{
	display: inline-block;
	text-transform: uppercase;
	color: #ffffff;
	font-size: 11px;
}
.top-links a{
	color: #ffffff;
}
.top-links-wrapper{
	display: table !important;
}
.links-wrapper{
	display: table-cell;
    vertical-align: middle;
}
.links-wrapper a{
	margin: 0 10px;
}
.top-form-wrapper{
	display: table !important;
}
.top-search-bar{
	display: table-cell;
    vertical-align: middle;
}
.search-input-field{
    line-height: 35px;
    width: 200px;
    margin-right: 10px;
    height: 27px;
    border: none;
    border-radius: 3px;
    padding: 0px 5px 0px 15px;
}
/* end header */
/* navigation */
nav{
    width: 100%; 
    background: white; 
    position: relative;
    font-size: 12px;
    z-index: 9;
}
li a{
    text-decoration: none;
}
.dropdown{
	padding: 10px;
	border-radius: 7px;
    position: absolute; 
    min-width: 250px;
    background: #f58f09;
    top: 100px;
    right: 0px;
    opacity: 0;
    visibility: hidden;
    z-index: 500;
}
.dropdown:after{
    content: '';
    border-top: 8px solid transparent;
    border-left: 8px solid transparent;
    border-bottom: 8px solid #f58f0a;
    border-right: 8px solid transparent;
    position: absolute;
    top: -16px;
    left: 0;
    right: -75%;
    margin: auto;
    width: 10px;
    display: block !important;
}
.mainnav li{
    float: left;
    background: white;
    border-left: 1px solid #fff;
}
.mainnav li.hassubs{
    padding: 0 10px;
    height: 130px;
    line-height: 130px;
}
.mainnav li.subs{
    line-height: 32px;
    padding: 0;
    background: #f58f09;
}
.mainnav li:first-child{
    border: none;
}
.mainnav li.hassubs > a{ 
    display: inline-block;
    color: #f58f09;
}
.mainnav li.subs > a{ 
    display: inline-block;
    position: relative;
    color: #f58f09;
}
.mainnav li:hover{
    background: #fff;
    transition: ease-in .35s;
}
.mainnav li:hover a{
    color: #f58f09;
    text-decoration:none; 
}
/* Menu level 1 */
.subs {
    right: 0px;
    position: relative;
    top: 0px;
    min-width: 250px;
    border-left: none !important; 
}
.subs:last-child{
    border: none !important;
}
.hassubs:hover .dropdown{
    opacity: 1;
    visibility: visible; 
    transition: ease-in .35s;
}
.mainnav li:hover ul a{
    color: white;
    background: #f58f09;
}
.mainnav li ul li:hover{
    background: #f58f09;
}
.mainnav li ul li:hover a{
    color: white;
}
li.hassubs{
	height: 43px;
	position: relative;
}
li.hassubs > a{
    position: relative;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
}
.mainnav li.hassubs > a:hover:after{
    background: #f58f09;
}
.mainnav li.active > a:after{
	background: #f58f09;
}
li.hassubs > a:after{
    background: transparent;
    content: '';
    height: 3px;
    background: transparent;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 47px;
}
.header-middle{
	height: 130px;
	line-height: 130px;
}
ul.dropdown > li > a:after {
    content: '';
    width: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
    height: 1px;
    background: #ffffff;
    transition: ease-in-out 0.8s;
}
ul.dropdown > li > a:hover:after {
    width: 100%;
}
/*end navigation*/
/*home main slider*/
.home-main-slider{
	padding: 50px 0;
}
/*end home main slider*/