/* GLOBAL */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Main section */
body
{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
    margin: 0px 0px;
    background: #ffffff;
	position: relative;
	color: #333333;
	padding: 0;
}
*, input, :before, :after {
    box-sizing: border-box;
}
a { 
    text-decoration:none; 
    font-family: 'Open Sans', sans-serif;
}
.clear {
    clear: both;
    height: 1px;
}
/* header */
#header-top {
    height: 35px;
    line-height: 35px !important;
    background: #f58f0a;
}
.top-search-wrapper{
	font-size: 13px;
	height: 35px;
}
.top-search{
	display: inline-block;
}
.top-links{
	display: inline-block;
	text-transform: uppercase;
	color: #ffffff;
	font-size: 11px;
}
.top-links a{
	color: #ffffff;
}
.top-links-wrapper{
	display: table !important;
}
.links-wrapper{
	display: table-cell;
    vertical-align: middle;
}
.links-wrapper a{
	margin: 0 10px;
}
.top-form-wrapper{
	display: table !important;
}
.top-search-bar{
	display: table-cell;
    vertical-align: middle;
}
.search-input-field{
    line-height: 35px;
    width: 200px;
    margin-right: 10px;
    height: 27px;
    border: none;
    border-radius: 3px;
    padding: 0px 5px 0px 15px;
}
/* end header */